
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* Added custom variables */
  --color-bg-gen: #242424;
  --color-text-gen: rgba(255, 255, 255, 0.87);
  --color-primary-gen: #000000;
  --color-surface-gen: #e5e5e5;
  --color-accent-gen: #f5cb5c;
  --color-accent-hover-gen: #e0b43b; 
  --font-base: 16px;
  --font-lg: 18px;
  --font-sm: 14px;
  --radius: 8px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Light theme */
.light-theme {
  --color-bg: #f8f6f6;
  --color-surface: #f5cb5c;
  --color-button: #f5cb5c;
  --color-button-hover: #f5ba17;
  --color-accent: #f5cb5c;
  --color-accent-hover: #e0b43b;
  
  --color-text: #000000;
}

/* Dark theme */
.dark-theme {
  --color-bg: #181717;
  --color-surface: #e2ebff;
  --color-button: #181717;
  --color-button-hover: #f8f6f6;
  --color-accent: #f5cb5c;
  --color-accent-hover: #e0b43b;

  --color-text: #ffffff;
}


a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: #f5cb5c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --color-bg: #ffffff;
    --color-text: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
